@model ServiceElectronicQueue.Models.ForViews.Register.BranchOfficeRegisterForView

@{
    ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Branch office register";
}

<form asp-controller="BranchOfficeAuth" asp-action="BranchOfficeRegister" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control"/>
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control"/>
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConfirmPassword"></label>
        <input asp-for="ConfirmPassword" class="form-control"/>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>


    <div class="form-group">
        <label asp-for="UniqueKeyOrganization"></label>
        <input asp-for="UniqueKeyOrganization" class="form-control"/>
        <span asp-validation-for="UniqueKeyOrganization" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Addres"></label>
        <input asp-for="Addres" class="form-control"/>
        <span asp-validation-for="Addres" class="text-danger"></span>
    </div>
</form>