@model ServiceElectronicQueue.Models.ForViews.Login.UserLoginForView

@{
    ViewData["Title"] = "Home Page";
    ViewData["Title"] = "Login User";
}

<form asp-controller="Home" asp-action="UserLogin" method="post">
    <div class="form-group">
        <label asp-for="Email"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    
    <div class="form-group">
        <label asp-for="Password"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div><br />
    
    <button type="submit" class="btn btn-primary">Отправить</button>
</form>