@model ServiceElectronicQueue.Models.ForViews.BranchOfficeManagement.ServicesFormForView

<h2>Подтверждение удаления</h2>

<p>Вы уверены, что хотите удалить этот сервис?</p>

<form asp-action="DeleteService" asp-route-id="@Model.NumberService" method="post">
    <input type="hidden" asp-for="NumberService" />
    <input type="submit" value="Удалить" class="btn btn-danger" /> |
    <a asp-action="ServicesDisplay">Отмена</a>
</form>